/* Main Content Area */
.student-dashboard {
    display: flex;
    height: 100vh; /* Full viewport height */
    flex-direction: column; /* Adjust for smaller screens */
  }
  
  .main-content {
    margin-left: 15%; /* Matches the sidebar width */
    padding: 20px;
    width: calc(85%); /* Adjust to fit the screen minus the sidebar */
    overflow-y: auto;
    box-sizing: border-box; /* Include padding in width/height calculation */
    transition: margin-left 0.3s, width 0.3s; /* Smooth transition for responsiveness */
    margin-top: 20px; /* Space from the navigation bar */
    margin-bottom: 20px; /* Space from the footer */
  }

  .update-status {
    margin-top: 100px; 
    position: relative; 
    padding: 10px;
    text-align: center;
    width: 100%;   /* it centered it */ 
  }

  .initialMessage {
    margin-top: 100px; 
    position: relative; 
    padding: 10px;
    text-align: center;
    width: 100%;   
  }
  
  /* Responsive Adjustments for Main Content */
  @media (max-width: 1024px) {
    .main-content {
      margin-left: 20%; /* Adjust for narrower sidebar */
      width: calc(80%); /* Adjust to match the sidebar size */
    }
  }
  
  @media (max-width: 768px) {
    .main-content {
      margin-left: 25%; /* Sidebar gets narrower */
      width: calc(75%); /* Adjust accordingly */
    }
  }
  
  @media (max-width: 480px) {
    .main-content {
      margin-left: 0; /* No sidebar on very small screens */
      width: 100%; /* Full width for content */
    }
  }

  
  